<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593676533450-vce6m0tm4303vps3guu5eihn965u8dg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593676533450-vce6m0tm4303vps3guu5eihn965u8dg6</string>
	<key>API_KEY</key>
	<string>AIzaSyBiDSwo_8uKe3Dai1AjYvjrgq8WqpUXzHM</string>
	<key>GCM_SENDER_ID</key>
	<string>593676533450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.battleships</string>
	<key>PROJECT_ID</key>
	<string>battleshipsfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>battleshipsfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593676533450:ios:f6c4b91cca970d33abfe33</string>
</dict>
</plist>